<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion"
			 connectionString="Data Source=LAPTOP-E8AHI785\SQLEXPRESS;
			 Initial Catalog=CineDonChuchoDB; Integrated Security=True;"
			 providerName="System.Data.MySqlClient"
			 />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>